<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="c1MaintenanceTools">
            <section name="fileSystemCleanup" type="C1MaintenanceTools.FileSystemCleanup.Configuration.CleanupSection, C1MaintenanceTools.FileSystemCleanup" />
        </sectionGroup>
    </configSections>

    <c1MaintenanceTools>
        <fileSystemCleanup configSource="App_Data\c1maintenancetools.filesystemcleanup.config" />
    </c1MaintenanceTools>

    <compositeC1Contrib>
        <scheduledTasks>
            <add name="fileSystemCleanup" type="C1MaintenanceTools.FileSystemCleanup.CleanupFacade, C1MaintenanceTools.FileSystemCleanup" method="RunCleanUp" cronExpression="30 2 * * 2099" />
        </scheduledTasks>
    </compositeC1Contrib>
</configuration>