<?xml version="1.0"?>
    <configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
        <compositeC1Contrib>
            <scheduledTasks>
                <add name="fileSystemCleanup" cronExpression="30 2 * * *" xdt:Transform="SetAttributes(cronExpression)" xdt:Locator="Match(name)" />
            </scheduledTasks>
        </compositeC1Contrib>
</configuration>