<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.1.1" targetFramework="net461" />
  <package id="CompositeC1.Core" version="6.2" targetFramework="net461" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.0.0" targetFramework="net461" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.4.0" targetFramework="net461" />
  <package id="System.Reactive" version="4.0.0-preview00001" targetFramework="net461" />
  <package id="System.Threading.Tasks.Dataflow" version="4.8.0" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net461" />
  <package id="WampSharp" version="1.2.6.43-beta" targetFramework="net461" />
  <package id="WampSharp.AspNet.WebSockets.Server" version="1.2.6.43-beta" targetFramework="net461" />
  <package id="WampSharp.NewtonsoftJson" version="1.2.6.43-beta" targetFramework="net461" />
  <package id="WampSharp.WebSockets" version="1.2.6.43-beta" targetFramework="net461" />
</packages>