<fileSystemCleanup>
    <files>
        <add path="/App_Data/FormBuilderData" ignore-extensions="xml" obsolescencedays="365" />
        <add path="/App_Data/Composite/Logfiles" extensions="txt" obsolescencedays="365" />
    </files>
    <emptyfolders>
        <add path="/App_Data/FormBuilderData" />
    </emptyfolders>
</fileSystemCleanup>